{% extends "layout.html" %}

{% block content %}
    <h3 style="margin-top: 15px; margin-left: 5px;">Погодные данные с метеостанции {{ station.title }}</h3>
    
    <table class="table table-striped">
        <tr>
            <th scope="col">Дата и время</th>
            <th scope="col" colspan="2">Направление</th>
            <th scope="col" colspan="2">Скорость ветра(м/с)</th>
            <th scope="col">Порывы(м/с)</th>
            <th scope="col">Температура</th>
        </tr>
        {% for str in data %}
            <tr>
                <td>{{ str.timestamp }}</td>
                <td><div style="transform:rotate({{ str.wind_direction }}deg);border:0;font-weight:bold" align="center"> ↑ </div></td>
                <td>{{ str.wind_direction }}</td>
                <td>min {{ str.min_wind }}</td>
                <td>avg {{ str.average_wind }}</td> 
                <td>{{ str.gusts }}</td>  
                <td>{{ str.external_temperature }}°C</td>
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if total_pages > 1 %}
                {% if page > 1 %}            
                    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                {% endif %}
                {% if page > 2 %}
                    <li class="page-item disabled no-page"><a class="page-link" href="#">...</a></li>
                {% endif %}
                    {% set pages = [total_pages, page+3] %}
                    {% for p in range(page, (pages|min) + 1) %}
                        {% if p == page %}
                            <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}
                
                {% if total_pages > (page+4) %}
                    <li class="page-item disabled no-page"><a class="page-link" href="#">...</a></li>
                {% endif %}
                {% if total_pages > (page+3) %}
                    <li class="page-item"><a class="page-link" href="?page={{ total_pages }}">{{ total_pages }}</a></li>
                {% endif %}
            {% endif %}

        </ul>
    </nav>

{% endblock %}